<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Scorer">
        <activity
            android:name=".activities.PlayersSelectActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MatchInformationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PlayerInformationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewMatchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PreviousMatchesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PlayersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddNewPlayerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SelectCaptainsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SelectTeamAPlayersActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>